@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  background-color: #f9fafb; /* Soft gray for modern finance feel */
  color: #111827; /* Dark gray for better readability */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  min-height: 100vh;
}
