@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "VT323", monospace;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  background-color: #f0f0f0; /* Light gray retro background */
}

#root {
  width: 100%;
  min-height: 100vh;
}
